.ks-avatar {
  text-align: inherit;
  vertical-align: bottom;
  overflow: hidden;
  user-select: none;
}

.ks-avatar > image {
  overflow: hidden;
}

.ks-avatar__rect {
  stroke-width: 2px;
  stroke: var(--color-opac-w-4);
}

.ks-avatar__circle {
  stroke-width: 2px;
  stroke: var(--color-opac-w-4);
}
